.toolbar {
  margin-bottom: 20px;
}

.input {
  margin: 0 auto 40px;
  @media screen and (min-width: 480px) {
    max-width: 300px;
  }

  &__file {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
  }
}

table {
  width: 90%;
  margin: 0 auto 40px;

  & th {
    cursor: pointer;
    mat-icon {
      opacity: 0;
      &.desc{
        display: none;
      }
    }
    &.ascending{
      mat-icon.asc {
        opacity: 1;
      }
    }
    &.descending {
      mat-icon.desc {
        display: inline;
        opacity: 1;
      }
      mat-icon.asc{
        display: none;
      }
    }

    &:hover{
      mat-icon.asc {
        opacity: 1;
      }
    }
  }
}

button[type=submit]{
  display: block;
}
